.fund-container{
    border: 2px solid orange;
    padding:15px 20px;
    background:linear-gradient(rgba(49, 51, 206, 0.1), rgba(0, 0, 0, 0.1));
    box-shadow: 5px 8px 15px grey;
}
.fund-container h1{
    margin: 0;
    color: orange;
}
.single-donar{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:5px;
}